<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQo18MCEyQILYC3ccq_bOr0KGyZ_8srBE</string>
	<key>GCM_SENDER_ID</key>
	<string>715750544909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPortfolio</string>
	<key>PROJECT_ID</key>
	<string>my-portfolio-41102</string>
	<key>STORAGE_BUCKET</key>
	<string>my-portfolio-41102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715750544909:ios:cc4ab32de9ae142bbba744</string>
</dict>
</plist>